.details__container__all {
  display: flex;
  color: white;
  background-color: black;
  height: 100%;
}
.details__container {
  align-items: center;
  align-self: center;
  padding-left: 35px;
}
.details__title {
  color: rgb(31, 31, 88);
  text-align: center;
  font-family: cursive;
}
.details__summary {
  text-align: justify;
  text-decoration: double;
  font-size: 20px;
}

.details__subcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.details__diets__title {
  color: rgb(31, 31, 88);
  text-decoration: double;
}

.details__image {
  display: block;
  margin: auto;
  width: 450px;
  height: auto;
}

.details__stepbystep__title {
  color: rgb(31, 31, 88);
  text-decoration: double;
}

.details__healthscore__title {
  color: rgb(31, 31, 88);
  text-decoration: double;
}

.details__spoonacularscore__title {
  color: rgb(31, 31, 88);
  text-decoration: double;
}
.details__dishtypes_title {
  color: rgb(31, 31, 88);
  text-decoration: double;
}
.details_spoonacularscore {
  display: block;
}

.link__home {
  color: rgb(162, 162, 212);
  font-size: 20px;
  padding-right: 35px;
  text-align: center;
  padding-top: 15px;
}
