.form_container__all {
  background-color: black;
  display: flex;
}
.form {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.form__container__title {
  grid-column: 1/1;
  display: flex;
  gap: 15px;
}
.form__title__input {
  width: 200px;
  height: 20px;
}
.form__summary__container {
  display: flex;
  gap: 15px;
}
.form__summary__input {
  width: 300px;
  height: 200px;
}
