.form_container__all {
  background-color: black;
  display: flex;
  flex-direction: column;
}
.titlePage {
  text-align: center;
  margin: 1.5rem;
  font-size: 3rem;

  color: rgb(16, 16, 122);
}
.form__container {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 2rem;
  background-color: #080824;
  margin-top: 2rem;
  border-radius: 2rem;
}
.btn-create {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  margin: 0rem auto;
  background-color: #19272e;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 2rem;
  width: 20rem;
  font-size: 2rem;
  transition: 0.5s ease;
}
.btn-create:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.form__title {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  text-align: center;

  font-size: 1.6rem;
  padding: 0.3rem;
}
.form__title__input {
  border: none;
  width: 30rem;
  font-family: "Montserrat", sans-serif;
}
.form__summary {
  margin: 1rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  font-size: 1.6rem;
  padding: 0.3rem;
}
.form__summary__textarea {
  border: none;
  width: 30rem;
  height: 5rem;
  transition: 0.3s ease;
  font-family: "Montserrat", sans-serif;
}
.form__summary__textarea:focus {
  width: 100%;
  height: 20rem;
}
.form__steps {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  text-align: center;

  font-size: 1.6rem;
  padding: 0.3rem;
}
.stepInput {
  border: none;
  width: 30rem;
  height: 5rem;
  transition: 0.3s ease;
  font-family: "Montserrat", sans-serif;
}
.stepInput:focus {
  width: 100%;
  height: 20rem;
}
.stepButton {
  width: 50px;
  background-color: blue;
  color: white;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
}
.stepButton:hover {
  background-color: #19272e;
}

.form__image {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  text-align: center;

  font-size: 1.6rem;
  padding: 0.3rem;
}
.form__image--input {
  border: none;
  width: 30rem;
  font-family: "Montserrat", sans-serif;
}
.form__score {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  text-align: center;

  font-size: 1.6rem;
  padding: 0.3rem;
}
.spoonacularScore {
  border: none;
  width: 30rem;
  font-family: "Montserrat", sans-serif;
}
.form__scoreHealth {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  text-align: center;

  font-size: 1.6rem;
  padding: 0.3rem;
}
.healthScoreInput {
  border: none;
  width: 30rem;
  font-family: "Montserrat", sans-serif;
}
.form__diets {
  padding-left: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.form__diets__title {
  font-size: 1.6rem;
}

.form__dishTypes {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  text-align: center;

  font-size: 1.6rem;
  padding: 0.3rem;
}

.form__dishTypes.input {
  border: none;
  width: 30rem;
  font-family: "Montserrat", sans-serif;
}

.linkHome {
  padding-top: 10px;
  padding-bottom: 10px;
  align-self: center;
  margin: 0rem auto;
  color: #3f3fe0;
  border: none;
  padding: 0.5rem;
  border-radius: 2rem;
  width: 6rem;
  font-size: 2rem;
  transition: 0.5s ease;
}
.linkHome:hover {
  color: white;
}
