.select {
  margin: 0 auto;
  border-radius: 20px;
  padding: 5px;
  border: none;
  color: white;
  background-color: rgb(11, 11, 54);
}
.select:hover {
  color: black;

  background: rgb(60, 60, 139);
}
