.select {
  margin: 0 auto;
  border-radius: 20px;
  padding: 5px;
  border: none;
  color: white;
  background-color: black;
}
.select:hover {
  color: black;
  border: grey solid 1px;
  background: gray;
}
