.landing {
  background-image: url("../../Images/landing.jpg");

  background-repeat: no-repeat;
  background-position: 0 -650px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.pdeHome {
  text-align: center;
  color: rgb(45, 45, 61);
  padding-left: 450px;
  font-size: 25px;
  padding-top: 150px;
  font-style: italic;
}
.pdeHome:hover {
  color: white;
}

.tituloLanding {
  color: rgb(139, 139, 204);
  text-align: left;
  margin-left: 350px;
  font-size: 88px;
  font-style: oblique;
}
