.inputhome {
  border-radius: 20px;
  border: none;
  padding: 5px;
}
.searchrecipe {
  display: flex;
  gap: 5px;
}
.buttonsearch {
  border-radius: 20px;
  color: white;
  border: none;
  background-color: rgb(11, 11, 54);
}
.buttonsearch:hover {
  background-color: rgb(60, 60, 139);
  color: black;
}
