.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 0.6rem;
  font-weight: bold;
}
.pagination__link {
  color: white;
  display: flex;
  margin-left: 1rem;
  padding: 1.5rem;
  justify-content: center;
  text-decoration: none;
  border-radius: 40%;
}
.pagination__link:hover {
  color: rgb(14, 14, 134);
}
