.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 0.6rem;
  font-weight: bold;
}
.pagination__link {
  display: flex;
  margin-left: 1rem;
  padding: 1.5rem;
  background-color: #bc4764;
  text-decoration: none;
  border-radius: 40%;
}
