.recipe {
  border-radius: 20px;
  border: 1px solid black;
  max-width: 350px;
  height: 550px;
  padding: 10px;
}
.recipe__front--name {
  font-size: 20px;
  color: red;
}
.recipe__front--diets {
  font-size: 12px;
  color: green;
}
.recipe__front--image {
  width: 25px;
  height: 25px;
}
